#divGrande{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #a2ffee;
}

div>h2{ 
  text-align: center;
}

#cosa{
  background-color: #92f3e1;
  padding-bottom: 30%;
}

#cosa img{
  padding: 10px;
  margin-left: 25px;
  float: left;
}

#cosa p{
  font-size:70%;
  padding: 10px;
  padding-top: 30px;

}


tr:nth-child(even) {background-color: #a2ffee;}

th {
	background-color:#0093ff;
	color: black;
}

th, td {
  padding: 40px;
  text-align: left;
  border-bottom: 2px solid #ffffe8;
  border-right: 2px solid #ffffe8;
}


tr:hover,th:hover {background-color: #ffffe8}


